lib_managed/
project/target/*
project/project/target/*
project/build/target/*
project/boot/*
project/plugins/lib_managed/*
project/plugins/project/*
project/plugins/target/*
project/plugins/src_managed/*
target/
.idea/
.idea_modules/
*.iml
.DS_Store
out/
snippets/
.deploy
.settings
.project
.classpath
.project
webapp/WEB-INF/classes/
lib_managed/
project/target/*
project/project/target/*
project/build/target/*
project/boot/*
project/plugins/lib_managed/*
project/plugins/project/*
project/plugins/target/*
project/plugins/src_managed/*
target/
.idea
.idea_modules
*.iml
*.iws
*.ipr
.DS_Store
bin/
out/
logs/
*.log
.settings/

.gradle
gradlew
gradlew.bat
/build/
gradle/wrapper

__pycache__/

node_modules/

.mvn
mvnw*

.vscode
.vertx

reset.sh

pkg/
*.dmg
dependency-reduced-pom.xml